<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>  
    <urlMappings enabled="true">
      <add url="~/index.aspx" mappedUrl="~/Views/index.aspx" />
      <add url="~/login.aspx" mappedUrl="~/Views/login.aspx" />
      <add url="~/register.aspx" mappedUrl="~/Views/register.aspx" />
      <add url="~/product-list.aspx" mappedUrl="~/Views/product-list.aspx" />
      <add url="~/product-list-where.aspx" mappedUrl="~/Views/product-list-where.aspx" />
      <add url="~/product-phone.aspx" mappedUrl="~/Views/product-phone.aspx" />
      <add url="~/product-laptop.aspx" mappedUrl="~/Views/product-laptop.aspx" />
      <add url="~/product-camera.aspx" mappedUrl="~/Views/product-camera.aspx" />
      <add url="~/product-appliance.aspx" mappedUrl="~/Views/product-appliance.aspx" />
      <add url="~/product-details.aspx" mappedUrl="~/Views/product-details.aspx" />
      <add url="~/product-details-iPhone X.aspx" mappedUrl="~/Views/product-details-iPhone X.aspx" />
      <add url="~/about.aspx" mappedUrl="~/Views/about.aspx" />
      <add url="~/favorite.aspx" mappedUrl="~/Views/favorite.aspx" />
      <add url="~/portfolio.aspx" mappedUrl="~/Views/portfolio.aspx" />
      <add url="~/pay.aspx" mappedUrl="~/Views/pay.aspx" />
      <add url="~/blank.aspx" mappedUrl="~/Views/blank.aspx" />
      <add url="~/background.aspx" mappedUrl="~/Views/background.aspx" />
      <add url="~/catalogue.aspx" mappedUrl="~/Views/catalogue.aspx" />
      <add url="~/checkout.aspx" mappedUrl="~/Views/checkout.aspx" />
      <add url="~/contact.aspx" mappedUrl="~/Views/contact.aspx" />
      <add url="~/order.aspx" mappedUrl="~/Views/order.aspx" />
      <add url="~/single.aspx" mappedUrl="~/Views/single.aspx" />
    </urlMappings>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
</configuration>